@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url(https://db.onlinewebfonts.com/c/4cb0a725d25db5a5401af8cffa9f3beb?family=BebasNeueBold);
@media screen and (max-width:1024px){
    .port-side{
        flex-wrap: wrap;
    }
}
body{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    transition: padding-left 0.3s, padding-right 0.3s;
}
.main{
    background-color: #FFFFFF;
}
.main-cont{
    max-width: 1440px; /* Максимальная ширина контента */
    margin: 0 auto;
    padding: 20px;
}
/* Основной блок */
body{
    margin: 0;
    
}
.main-cont {
    width: 1440px;
    margin: 0 ;
    padding: 0;
    align-items: center;
}

/* Header-conteiner */

.header-main{
    font-family: "BebasNeueBold";
    position: relative;
    margin: 0;
    max-width: 1440px;
    height: 770px;
    text-align: center;
   
}
.text{
    text-transform: uppercase;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    width: 900px;
}
.text2{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: Semibold;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#FFFFFF ;
    letter-spacing: 0.19px;
}
.text3{
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: Semibold;
    position: absolute;
    top: 90%;
    left: 720px;
    transform: translate(-50%, -50%);
    color:#FFFFFF ;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.header-accent{
    letter-spacing: 5.60px;
}
.img1{
    width: 100%;

}
.inner-image{
    position: absolute;
    top: 30px;
    right: 665px;
}

/* Navbar conteiner */
.navbar-main{
    padding: 0 249px;
    height: 58px;
    width: 1440;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-color: #E6E6E6;
    text-align: center;
    align-items: center;
}
.navbar-cont{
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}
.navbar-img{
    display: flex;
    height: 18px;
    margin-top: 19px;
}
.navbar-table{
    text-transform: uppercase;
    display: flex;
    margin-top: 19px;
    

}
.navbar-table thead td{
    letter-spacing: 1.09px;
    font-size: 12px;
}
.navbar-table>thead>tr>td{
    padding-right: 35px;
}
.navbar-accent{
    color: #00A4E5;
}






/* About-conteiner */
.about-main{
    margin: 0 249px;
    width: 942px;
    height: 344px;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
.port-side{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.about-title1{
    text-align: center;
    color: #48555B;
}
.about-title2{
    height: 2px;
    width: 50px;
    background-color: #00A4E5;
    margin-left: 448px;
    margin-top: 10px;
    font-stretch: condensed
}
.accent-color{
    color: #00A4E5;
}
.accent-left{
    white-space: pre-wrap
}
.accent-left1{
    white-space: pre-wrap
}
.accent-left2{
    white-space: pre-wrap
}
.accent-left3{
    white-space: pre-wrap
}
.accent-left4{
    white-space: pre-wrap
}
.accent-left5{
    white-space: pre-wrap
}
.about-text{
    max-width: 455px;
    margin-left: 0px;
    
}

.about-text1{
    font-size: 18px;
    white-space: pre-line;
    color: #48555B;
}
.about-text2{
    font-size: small;
    white-space: pre-line;
    padding-bottom: 10px;
    color: #48555B;
}
.about-img{
    width: 465px;
    padding: 0;
    margin-top: 10px;
    
}
.about-img2{
    width: 460px;
    padding: 0;
}
.about-img1-1{
    margin-right: 15px;
}
.about-img2-2{
    margin-right: 15px;
}

/* Services-conteiner */
.services-main{
    margin: 0 249px;
    margin-top: 150px;
    height: 446px;
    width: 940px;
    font-family: "Open Sans", sans-serif;
}
.services-cont{
    
}
.services-header{
    height: 40px;
}
.services-header2{
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 10px;
}
.services-header2>h3{
    margin-top: 0;
}
.services-text{
    white-space: pre-line;
    font-size: 11px;
    letter-spacing: 0,2px;
    color: #48555B;
    margin-left: 145px;
}
.services-text2{
    background-color: #00A4E5;
    border-color: #00A4E5;;
    color: #FFFFFF;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    padding-top: 10px;

    
}
.services-title2{
    height: 2px;
    width: 50px;
    background-color: #00A4E5;
    margin-top: 5px;
    font-stretch: condensed
}
.services-header2>h3{
    font-size: 18px;
    letter-spacing: 2.31px;
    color: #48555B;       
}
.services-table-cont{
    display: flex;
    margin-top: 80px;
}
.services-table1{
    height: 250px;
    width: 305px;
    white-space: pre-line;
    font-size: 16px;
    letter-spacing: 0.43px;
    border-style: solid;
    border-color: #E6E6E6;
    border-width: 0.5px;
    padding: 30px 20px; 
}
.services-table2{
   height: 250px;
    width: 295px;
    border-style: solid;
    border-color: #E6E6E6;
    border-width: 0.5px;
    padding: 30px 20px; 
    margin-left: 30px;
}
.services-table3{
    height: 250px;
    width: 295px;
    border-style: solid;
    border-color: #E6E6E6;
    border-width: 0.5px;
    padding: 30px 20px; 
    margin-left: 30px;

}
/* <h3> */
.services-table1>h3{
    letter-spacing: 0.43px;
    color: #48555B;
    font-size: 16px;
    text-transform: uppercase;
    white-space: pre-line;
    margin-bottom: 0;
}
.services-table2>h3{
    letter-spacing: 0.43px;
    color: #48555B;
    font-size: 16px;
}
.services-table3>h3{
    letter-spacing: 0.43px;
    color: #48555B;
    font-size: 16px;
}
/* <p> */
.services-table1>p{
    letter-spacing: 0.19px;
    color: #48555B;
    font-size: 13px;
    margin-top: 0;
}
.services-table2>p{
    letter-spacing: 0.19px;
    color: #48555B;
    font-size: 13px;
}
.services-table3>p{
    letter-spacing: 0.19px;
    color: #48555B;
    font-size: 13px;
}

/* touch-conteiner */
.touch-img-cont{
    position: relative;
    text-align: center;
}
.touch-text{
    font-family: "Open Sans", sans-serif;
    color: #48555B;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.15px;
    white-space: pre-line;
    position: absolute;
    top: 30%;
    left: 40%;
}
.touch-text2{
    text-transform: uppercase;
    height: 30px;
    width: 160px;
    background-color: #00A4E5;
    padding-top: 12.5px;
    font-size: 13px;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 0.8px;
    position: absolute;
    top: 52%;
    left: 45%;
}


/* touch-conteiner */
.touch-img-cont{
    position: relative;
    text-align: center;
    height: 497px;
}
.touch-text{
    font-family: "Open Sans", sans-serif;
    color: #48555B;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.15px;
    white-space: pre-line;
    position: absolute;
    top: 30%;
    left: 40%;
}
.touch-text2{
    text-transform: uppercase;
    height: 30px;
    width: 160px;
    background-color: #00A4E5;
    padding-top: 12.5px;
    font-size: 13px;
    color: #FFFFFF;
    
    letter-spacing: 0.8px;
    position: absolute;
    top: 52%;
    left: 45%;
}


/* sletter conteiner */
.sletter-main{
    height: 99px;
}
.sletter-main-cont{
    font-family: "Open Sans", sans-serif;
    height: 100px;
    max-width: 1440px;
    background-color: #171819;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    padding-left: 300px;
}
.sletter-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 800px;
    margin-bottom: 20px;
}
.sletter-text{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 0.85px;
    margin: 35px;
    white-space: pre-line;
}
.sletter-cell{
    display: flex;
    text-align: center;
    margin-left: 40px;
    height: 40px;
    width: 250px;
    background-color: #FFFFFF;
    padding-left: 20px;


}
.sletter-button{
    display: flex;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 105px;
    background-color: #00A4E5;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding-left: 55px;

}
.sletter-input{
    border: none;
}

/* finite-conteiner */

.finite-main{
    height: 300px;
    font-family: "Open Sans", sans-serif;
}
.finite-cont{
    height: 238px;
}
.finite-cont2{
    display: flex;
    background-color: #141A20;
    padding: 20px 249px;
    height: 240px;
}
.finite-table1{
    height: 148px;
    width: 250px;
    font-size: 11px;
    font-weight: regular;
    color: #FFFFFF;
    letter-spacing: 0.85px;
    white-space: pre-line;
}
.finite-table2{
    height: 150px;
    width: 110px;
    font-size: 11px;
    font-weight: regular;
    color: #FFFFFF;
    letter-spacing: 0.85px;
    white-space: pre-line;
    margin-left: 50px;
}
.finite-table3{
    margin-left: 10px;
    margin-top: 75px;
    height: 158px;
    width: 70px;
}
.finite-table4{
    margin-top: 80px;
    margin-left: 15px;
    height: 75px;
    width: 62px;
}
.finite-table5{
    margin-left: 65px;
    height: 158px;
    width: 141px;
    color: #FFFFFF;
}
.finite-table6{
    margin-top: 70px;
    margin-left: 80px;
    height: 13px;
    width: 87px;
}

.finite-text1{
    font-size: 11px;
    font-weight: 19px;
    color: #FFFFFF;
}
.finite-table2>p{
    margin: 0;
    font-size: 11px;
    font-weight: 25px;
    color: #FFFFFF;
    letter-spacing: 0.85px;
}
.finite-table3>p{
    font-size: 11px;
    font-weight: 25px;
    color: #FFFFFF;
    letter-spacing: 0.85px;
}
.finite-table4>p{
    font-size: 11px;
    font-weight: 16px;
    color: #FFFFFF;
    letter-spacing: 0.85px;
}
.finite-table5>p{
    font-size: 11px;
    font-weight: regular;
    color: #FFFFFF;
    letter-spacing: 0.85px;
    white-space: pre-line;
}
.finite-table5>h3{
    margin-bottom: 27px;
}

.finite-footer{
    height: 60px;
    background-color: #171819;
    text-align: center;
    padding-top: 20px;
}
.end{
    font-size: 11px;
    letter-spacing: 0.85px;
    color: #FFFFFF;
    
}
}