@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url(https://db.onlinewebfonts.com/c/4cb0a725d25db5a5401af8cffa9f3beb?family=BebasNeueBold);
@media screen and (max-width:1024px){
    .port-side{
        flex-wrap: wrap;
    }
}


/* Основной блок */
body{
    margin: 0;
    max-width: 1440px;
}
.main-cont {
    width: 1440px;
    margin: 0 ;
    padding: 0;
    text-align: center;
}


/* Header-conteiner */

.header-main{
    font-family: "BebasNeueBold";
    position: relative;
    margin: 0;
    width: 100%;
    height: 770px;
   
}
.text{
    text-transform: uppercase;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    width: 900px;
}
.text2{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: Semibold;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#FFFFFF ;
}
.text3{
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: Semibold;
    position: absolute;
    top: 90%;
    left: 720px;
    transform: translate(-50%, -50%);
    color:#FFFFFF ;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.header-accent{
    letter-spacing: 5.60px;
}
.img1{
    width: 100%;

}
.inner-image{
    position: absolute;
    top: 30px;
    right: 665px;
}

/* Navbar container */
.navbar-main{
    padding: 0 249px;
    height: 58px;
    width: 1440;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-color: #E6E6E6;
    text-align: center;
    align-items: center;
}
.navbar-cont{
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    margin-top: ;
}
.navbar-img{
    display: flex;
    height: 18px;
    margin-top: 19px;
}
.navbar-table{
    text-transform: uppercase;
    display: flex;
    margin-top: 19px;
    

}
.navbar-table thead td{
    letter-spacing: 1.09px;
    font-size: 12px;
}
.navbar-table>thead>tr>td{
    padding-right: 40px;
}






/* About-conteiner */
.about-main{
    margin: 0 249px;
    width: 942px;
    height: 344px;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
.port-side{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.about-title1{
    text-align: center;
}
.about-title2{
    height: 2px;
    width: 50px;
    background-color: #00A4E5;
    margin-left: 448px;
    margin-top: 10px;
    font-stretch: condensed
}
.accent-color{
    color: #00A4E5;
}
.accent-left{
    white-space: pre-wrap
}
.accent-left1{
    white-space: pre-wrap
}
.accent-left2{
    white-space: pre-wrap
}
.accent-left3{
    white-space: pre-wrap
}
.accent-left4{
    white-space: pre-wrap
}
.accent-left5{
    white-space: pre-wrap
}
.about-text{
    max-width: 455px;
    margin-top: 0px;
    margin-left: 0px;
    
}

.about-text1{
    font-size: 18px;
    white-space: pre-line;
    color: #48555B;
}
.about-text2{
    font-size: small;
    white-space: pre-line;
    padding-bottom: 10px;
    margin-left: 55px;
    color: #48555B;
}
.about-img{
    width: 465px;
    padding: 0;
    margin-top: 10px;
    
}
.about-img2{
    width: 460px;
    padding: 0;
}
.about-img1-1{
    margin-right: 15px;
}
.about-img2-2{
    margin-right: 15px;
}
