@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* Основной блок */
body{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 250px;
}


/* About-conteiner */
.main-cont{
    text-align: center;
    padding: 0;
}
.port-side{
    display: flex;
    justify-content: space-between;
}
.about-main{
    margin-left: 249px;
    width: 942px;
    height: 344px;
}
.about-main>h2{
    text-transform: uppercase;
    text-align: center;
}
.about-text{
    width: 40%;
    margin-top: 0px;
    margin-left: 0px;
}
.about-text1{
    width: 405px;
    height: 81px;
    white-space: pre-wrap;
}
.about-text2{
    width: 405;
    height: 115px;
    white-space: pre-wrap;
} 
.about-img{
    width: 50%;
}
.about-img2{

}
